﻿<div ng-controller="CheckboxTableController" class="checkbox-table">
	<div class="checkbox-table-inner">
		 <table>
			 <colgroup></colgroup>
			 <colgroup></colgroup>
			 <colgroup ng-repeat="column in model.value.columns track by $index"></colgroup>
			 <thead>
			 <tr>
				 <th><!-- header not used (col for the row labels) --></th>
				 <th><!-- header not used (col for remove row icons) --></th>
				 <th ng-repeat="column in model.value.columns track by $index"
					 ng-init="columnIndex = $index">
					 <span>
						 <input type="text"
								placeholder="Column Label"
								ng-readonly="model.config.columnPermissions == 'readOnly'"
								ng-model="model.value.columns[columnIndex]"/>
					 </span>
				 </th>
			 </tr>
			 </thead>
			 <tbody>
			 <!-- row of remove column icons -->
			 <tr>
				 <td></td>
				 <td></td>
				 <td ng-repeat="column in model.value.columns track by $index"
					 ng-init="columnIndex = $index">
					 <i class="icon icon-delete"
						ng-if="model.config.columnPermissions == 'addRemove'"
						ng-click="removeColumn(columnIndex)"></i>
				 </td>
			 </tr>

			 <tr ng-repeat="row in model.value.rows track by $index"
				 ng-init="rowIndex = $index">
				 <td>
					 <input type="text"
							placeholder="Row Label"
							ng-readonly="model.config.rowPermissions == 'readOnly'"
							ng-model="model.value.rows[rowIndex]"/>
				 </td>
				 <td>
					 <i class="icon icon-delete"
						ng-if="model.config.rowPermissions == 'addRemove'"
						ng-click="removeRow(rowIndex)"></i>
				 </td>
				 <td ng-repeat="column in model.value.columns track by $index"
					 ng-init="columnIndex = $index">

					 <input type="checkbox"
							ng-model="model.value.cells[rowIndex][columnIndex]"
							title="[{{ model.value.rows[rowIndex] }}] + [{{ model.value.columns[columnIndex] }}]"/>

				 </td>

			 </tr>
			 </tbody>
		 </table>
		 <i class="icon icon-add add-column"
			ng-if="model.config.columnPermissions == 'addRemove'"
			ng-click="addColumn()"></i>
		 <i class="icon icon-add add-row"
			ng-if="model.config.rowPermissions == 'addRemove'"
			ng-click="addRow()"></i>
	 </div>
</div>